.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 95%;
}

.hex-color{
    border:  1px solid #ccc;
    text-align: center;
}

.hex-color h1 {
    font-size: 2rem;
    text-transform: uppercase;
    animation: changeColor 5s infinite alternate;
}

.hex-color h2 {
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 15%;
}

@keyframes changeColor {
    0%{
        color: indigo;
    }
    20%{
        color: aqua;
    }
    40%{
        color: blueviolet;
    }
    60%{
        color: chartreuse;
    }
    80%{
        color: green;
    }
    100%{
        color: crimson;
    }
}

@media (max-width: 480px) {
    .hex-color h1 {
        font-size: 1.5rem;
    }
    .hex-color h2{
        font-size: 1.5rem;
    }
}