body{
    background: #ddd;
}
.container {
    border: 3px solid red;
    width: 95%;
    height: 100vh;
    display: flex;
    /* align-items: center;
    justify-content: center;
    flex-direction: column; */
}
.qoutes {
    width: 900px;
    height: 450px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    color: gray;
    background-color: #f4edea;
    border: 5px solid #f4edea;
}
.qoutes p, .qoutes h3 {
    font-size: 1.5rem;
}
@media (max-width:480px) {
    .qoutes p, .qoutes h3 {
        font-size: 1rem;
    }
}