body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px 30px;
  width: 400px;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
  color: #333;
}

.input-container {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 20px;
}

.input-container input {
  flex: 1;
  padding: 10px;
  border: none;
  outline: none;
  font-size: 1rem;
}

.input-container i {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  font-size: 1.2rem;
  border: none;
}

.options {
  text-align: left;
  margin-bottom: 20px;
}

.option {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

label {
  font-size: 0.9rem;
  color: #333;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

/* Responsive Design  for mobile screen*/
@media (max-width: 400px) {
  .container {
    width: 90%;
    padding: 15px;
  }

  button {
    font-size: 0.9rem;
  }
}
