#container{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem; 
    text-align: center;
    font-weight: 600;
}

button{
    font-size: 1.5rem;
    padding: 10px 15px;
    border-radius: 10px;
    background-color: hsl(210, 100%, 50%);
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: none;
}
button:hover {
    background-color: hsl(210, 100%, 60%);
}
button:active {
    background-color: hsl(210, 100%, 70%);
}

input {
    width: 200px;
    border-radius: 10px;
    border: 1px solid #000;
    text-align: center;
    font-weight: bold;
    font-size: 2.1rem;
}
#diceResult{
    margin: 25px;
}

#diceImage img {
    margin: 5px;
    border-radius: 10px;
}