*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: whitesmoke;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: #fff;
}

button{
    padding: 8px;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid lightgray;
    background-color: whitesmoke;
}

button:hover{
    background-color: rgba(0, 0, 0, 0.1);
}
.container{
    width: 95%;
    margin: auto;
}
.nav{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    margin: auto;
    width: 100%;
    background-color: #fff;
}

.nav button{
    font-family: inherit;
}
.create-box {
    width: 380px;
    margin: auto;
    margin-top: 10px;
    padding: 20px;
    border-radius: 5px;
    background-color: whitesmoke;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.create-box textarea {
    width: 100%;
    border-radius: 5px;
    font-family: inherit;
    border: 1px solid lightgray;
}
.create-box button {
    width: fit-content;
}

.flashcards{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    margin-top: 10px;
    padding: 0 10px;
}
.flashcard{
    width: 370px;
    height: 200px;
    word-wrap: break-word;
    background-color: white;
    margin: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.315);
}
.flashcard h2{
    font-size: 1rem;
}

@media (max-width:768px) {
    .flashcard{
        margin: auto;
    }
    .flashcard{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
}
@media (max-width:480px) {
    .nav{
        flex-direction: column;
        align-items: center;
    }
    .create-box{
        width: 100%;
    }
    .flashcard{
        width: 100%;
    }
}